<mat-form-field class="form-field" [color]="palette">
    <mat-label>{{label}}</mat-label>
    <input 
    matInput 
    type="text" 
    [attr.name]="name" 
    [value]="value" 
    (input)="handleInput($event)" 
    (blur)="onBlur()"
    [disabled]="isDisabled"
    [required]="isRequired"
    >
    @if(ngControl?.touched){
        <div>
            @if(ngControl?.hasError('required')){
                <mat-error>{{label}} is required.</mat-error>
            }

            @if(ngControl?.hasError('minlength')){
                <mat-error>{{label}} is too short.</mat-error>
            }

            @if(ngControl?.hasError('maxlength')){
                <mat-error>{{label}} is too long.</mat-error>
            }

            @if(ngControl?.hasError('emailValidator')){
                <mat-error>Invalid email.</mat-error>
            }

            @if(ngControl?.hasError('phoneValidator')){
                <mat-error>Invalid phone number.</mat-error>
            }

            @if(ngControl?.hasError('roomNumberValidator')){
                <mat-error>Invalid room number.</mat-error>
            }

            @if(ngControl?.hasError('positiveIntValidator')){
                <mat-error>Must be a positive integer.</mat-error>
            }

            @if(ngControl?.hasError('priceValidator')){
                <mat-error>Invalid price.</mat-error>
            }

        </div>
    }
</mat-form-field>