<section class="dashboard-section">
    <h2 class="page-header">Dashboard</h2>
    <div class="dashboard-container">
        <article class="card-container">
            <app-card title="Total Rooms" content="18" color="yellow" />
            <app-card title="Free Rooms" content="11" color="yellow" />
            <app-card title="Free Beds" content="20" color="yellow" />
            <app-card title="Total Guests" content="7" color="yellow" />
        </article>

        <article>
            <ul class="dashboard-ul">
                <li><button class="menu-btn" mat-raised-button>Customer Accommodation</button></li>
                <li><button class="menu-btn" mat-raised-button>Customer Registration</button></li>
                <li><button class="menu-btn" mat-raised-button>Employee Management</button></li>
                <li>
                    <button routerLink="/dashboard/rooms-management" class="menu-btn" mat-raised-button>Rooms Management</button>
                </li>
                <li><button class="menu-btn" mat-raised-button>Stats</button></li>
            </ul>
        </article>

        <article class="card-container">
            <app-card title="Arrivals Today" content="3" color="green" />
            <app-card title="Departures Today" content="2" color="red" />
            <app-card title="Arrivals May 2025" content="14" color="green" />
            <app-card title="Departures May 2025" content="14" color="red" />
        </article>
    </div>
</section>