<section class="rooms-container">
    @if(isRoomsPending$ | async){
    <app-spinner />

    } @else {
    @for (floor of (rooms | async); track $index) {

    <div class="floor">
        <h4 class="floor-header">Floor {{getFloor($index, lastFloor)}}</h4>
        <ul class="rooms-list">
            @for (room of floor; track $index) {
                <li class="room" (click)="showDetails(room.id)">
                    <span>{{room.roomNumber}}</span>
                    <span>{{room.type}}</span>
                </li>
            }
        </ul>
    </div>

    }
    <button routerLink="/dashboard/rooms-management/create-room" class="create-btn" mat-raised-button>
        Create Room
    </button>
    @if(show){
        <app-room-details 
        [isPending]="isDetailsPending$" 
        [room]="(room | async)" 
        (requestHide)="hideDetails()" 
        [getDeletionData]="getDeletionData.bind(this)"
        />
    }
    }

    <app-notification #notification />
</section>