<section class="rooms-container">
    @if(isPending){
        <app-spinner />
        
    } @else {
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li (click)="showDetails()" class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <div class="floor">
            <h4 class="floor-header">Floor 8</h4>
            <ul class="rooms-list">
                <li class="room">
                    <span>801</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>802</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>803</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>804</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>805</span>
                    <span>Single</span>
                </li>
                <li class="room">
                    <span>811</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>812</span>
                    <span>Double</span>
                </li>
                <li class="room">
                    <span>821</span>
                    <span>Apartment</span>
                </li>
                <li class="room">
                    <span>822</span>
                    <span>Apartment</span>
                </li>
            </ul>
        </div>
        <button routerLink="/dashboard/rooms-management/create-room" class="create-btn" mat-raised-button>Create Room</button>
    }

    @if(show){
        <div class="room-details">
            <h5>Room Details</h5>
            <ul>
                <li>Room Number: 822</li>
                <li>Type: Apartment</li>
                <li>Exposure: East</li>
                <li>Floor: 8</li>
                <li>Beds Count: 4</li>
                <li>Air Condition: <app-boolean-icon [value]="true" size="small" /></li>
                <li>Price per Night: 79.59$</li>
            </ul>
            <div class="control-buttons">
                <button mat-raised-button>Edit</button>
                <button mat-raised-button>Delete</button>
            </div>
            <i (click)="hideDetails()" class="fa-solid fa-xmark x-mark"></i>
        </div>
    }
</section>