<div class="container">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <h3>NAVIGATION</h3>

        </mat-drawer>

        @if(user){
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()" (click)="showMenu()">
                @if(isMenuShown){
                <i class="fa-solid fa-angle-left"></i>
                }@else {
                <i class="fa-solid fa-chevron-right"></i>
                }
            </button>
        </div>
        }

        <!-- <app-login /> -->

        <app-dashboard />
    </mat-drawer-container>
</div>