.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: calc(100vh - 194px);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 20px;
}

.example-sidenav-content button {
    font-size: 46px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.example-sidenav-content button:hover {
    color: #ea9c00
}

.example-sidenav {
    padding: 20px;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(120deg, #f1c5ff 0%, #abe3ff 100%);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-style: italic;
    position: relative;
}

.role-label {
    position: absolute;
    top: -16px;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    background-color: #faf9fd;
    padding: 4px 30px;
    border-radius: 20px;
}

.role-1 {
    border: 1px solid #610000;
    color: #610000;
}

.role-2 {
    border: 1px solid navy;
    color: navy;
}

.nav-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}