<app-authenticate>

    <div class="container">
        <app-header />
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
                <h3>NAVIGATION</h3>
                <section class="navigation">
                    <div class="profile-details">
                        <p class="role-label role-{{user?.roleId}}">{{user?.roleId | roleName}}</p>
                        <p>{{user?.firstName}} {{user?.lastName}}</p>
                        <p>{{user?.email}}</p>
                    </div>
                    <div class="nav-options">
                        <button 
                            mat-raised-button [disabled]="isLogoutPending$ | async" 
                            (click)="logoutHandler()"
                         >Logout
                        </button>
                    </div>
                </section>
            </mat-drawer>

            @if(isLoggedIn){
            <div class="example-sidenav-content">
                <button type="button" mat-button (click)="showMenu()">
                    @if(isMenuShown){
                    <i class="fa-solid fa-angle-left"></i>
                    }@else {
                    <i class="fa-solid fa-chevron-right"></i>
                    }
                </button>
            </div>
            }

            <router-outlet />
        </mat-drawer-container>
        <app-footer />
    </div>

</app-authenticate>