<div class="room-details">
    <h5>Room Details</h5>
    @if(isPending | async){
    <app-spinner />
    } @else {
    <ul>
        <li>Room Number: {{room?.roomNumber}}</li>
        <li>Type: {{room?.type}}</li>
        <li>Exposure: {{room?.exposure}}</li>
        <li>Floor: {{room?.floor}}</li>
        <li>Beds Count: {{room?.bedsCount}}</li>
        <li>Air Condition: <app-boolean-icon [value]="room?.hasAc || false" size="small" /></li>
        <li>Price per Night: {{room?.pricePerNight?.toFixed(2)}}$</li>
    </ul>
    <div class="control-buttons">
        <button mat-raised-button [routerLink]="'/dashboard/rooms-management/edit-room/'+room?.id">Edit</button>
        <button (click)="showDeleteConfirmation()" mat-raised-button>Delete</button>
    </div>
    }
    <i (click)="hide()" class="fa-solid fa-xmark x-mark"></i>
</div>